[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
dateparser = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
flake8-isort = "*"
isort = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-bdd = "*"
types-requests = "*"

[pipenv]
allow_prereleases = true
